.tea-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }

  .tea {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: rgb(180, 217, 181);;
  }

  .tea img {
    max-width: 100%;
    height: auto;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  .continue-button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
