<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Spread of Chinese Tea - 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/origin.css">
</head>

<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
    {% block content %}


    <div class="row subtitle">
        <div class="col-auto ">
            <h1>
                The Spread of Chinese Tea - 1
            </h1>
        </div>
    </div>


    <div class="row justify-content-center  align-items-center">
        <div class="col-auto">
            <div class="row justify-content-center main-content-container"
                style="width: 90%; margin: auto; padding: 0;">

                <div class="col-4" style="position: relative; left: -50px;">
                    <span class="title">
                        Tang and Song Dynasties: The Global Influence of Chinese Tea
                    </span>
                    <p class="detail" style="display: inline;">The evolution of tea during significant historical periods.</p>
                    <div class="detail">
                        <span>
                            <br>
                            By the <strong>Tang Dynasty (618–907 AD)</strong>, tea had become an integral part of Chinese society. The period saw the creation of the first tea monograph, "<span class="italic">The Classic of Tea</span>" (茶经) by Lu Yu, which elevated tea to an art form and codified its cultivation and consumption.
                            <br><br>
                            The expansion of the Silk Road facilitated the first major wave of tea exportation, allowing tea to reach Central Asia and the Middle East.
                            <br><br>
                            Moving into the <strong>Song Dynasty (960–1279 AD)</strong>, the development of loose-leaf tea and the invention of powdered tea marked significant advancements. These innovations were introduced to Japan by Buddhist monks, furthering the global influence of Chinese tea.
                            <br><br>
                            The historical journey of Chinese tea not only underscores its cultural significance but also highlights its role as a catalyst in early international trade, affecting global tea culture profoundly.
                            <br>
                            <!-- The introduction of new processing methods led to the creation of various tea types such as <span class="italic">green, black, and oolong</span>. The <strong>Ming era</strong> marked the beginning of tea's global trade, facilitating interaction with European merchants in the 16th century.
                            <br><br>
                            By the <strong>19th century</strong>, the British East India Company began cultivating tea in India, effectively breaking China's long-standing monopoly on tea production. This shift not only diversified tea cultivation globally but also altered the economic and cultural landscape of tea.
                            <br><br>
                            These developments underscored the dynamic nature of tea's history, as it became a commodity deeply intertwined with global trade and cultural exchange. -->
                        </span>
                    </div>
                </div>

                <div class="col-5 ">
                    <img class="main-img"
                        src="https://www.51puer.com/images/Image/image/20210720/20210720100427_10203.jpg" alt="茶经"
                        style="width: 95%; height: auto; position: relative;">
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button class="btn continue-btn" style="position: relative; left: 40%;"
            onclick="location.href='/origin'">Previous Page</button>
        <button class="btn continue-btn" style="position: relative; left: 50%;" onclick="location.href='/spread/2'">Next
            Page</button>

    </div>

    <div class="row subtitle">
        <div class="col-auto ">
            <!-- <h1>
                Teas that you might interest in:
            </h1> -->
        </div>
    </div>

    <!-- <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-3">
                <div class="food-item">
                    <a href="/view/1">
                        <img src="https://img-qn-4.51miz.com/preview/photo/00/01/69/48/P-1694874-B5CCA44A.jpg" alt="Cheung Fun">
                        <div class="food-item-name">Cheung Fun</div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="food-item">
                    <a href="/view/2">
                        <img src="https://img-qn-4.51miz.com/preview/photo/00/01/69/49/P-1694917-760358B2.jpg" alt="Shrimp Dumplings">
                        <div class="food-item-name">Shrimp Dumplings</div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="food-item">
                    <a href="/view/3">
                        <img src="https://imgs-ali.51miz.com/vcg/image/without_watermark/VCG41N684070860.jpg" alt="Spring Rolls">
                        <div class="food-item-name">Spring Rolls</div>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="food-item">
                    <a href="/view/4">
                        <img src="http://k.sinaimg.cn/n/sinakd20200827ac/313/w690h423/20200827/23a2-iyhvyva1987816.jpg/w700d1q75cms.jpg" alt="Beef Offal">
                        <div class="food-item-name">Beef Offal</div>
                    </a>
                </div>
            </div>
        </div> -->
    {% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>