<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Culture Learning Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/type.css">

</head>
<body>
    <!-- Navigation bar -->
    {% include 'navbar.html' %}
    {% block content %}
    <div class="tea-container">

        <div class="tea">
          <h2>Green Tea</h2>
          <img src="static/black.png" alt="Black Tea" />
          <p>Features: Robust flavor, fully oxidized.</p>
          <p>Processing: Full oxidation, drying.</p>
          <p>Notables: Assam, Earl Grey.</p>
        </div>

        <div class="tea">
          <h2>Oolong Tea</h2>
          <img src="static/white.png" alt="White Tea" />
          <p>Features: Delicate flavor, minimally processed.</p>
          <p>Processing: Plucked, naturally dried.</p>
          <p>Notables: Silver Needle, White Peony.</p>
        </div>
      
      </div>
      
      <!-- Continue Button -->
      <div class="button-container">
        <button class="continue-button" onclick="location.href='/quiz/1'">Continue to Quiz!</button>
      </div>
    {% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

